@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Paytone+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #404B5A;
  scroll-behavior: smooth;
}

.hero{
  background-image: url('../public/herobg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.text-shadow{
  text-shadow:  1px 1px 100px black ;
}


.trans-div{
  height: 40px;
  background-image: linear-gradient(rgba(0,0,0,0), #404B5A);;
}